#page_management {
  .nav-opener {
    position: fixed;
    top: -12%;
    right: 2%;
    z-index: 10;
    opacity: 0;
    rotate: -50deg;
    z-index: 1000;

    &.visible {
      opacity: 1;
      rotate: 0deg;
      top: 2%;
    }
    transition: all 500ms cubic-bezier(0.85, 0, 0.15, 1);
    .nav-btn {
      background: var(--brown);
      color: white;
      width: 50px;
      height: 50px;
      // font-weight: eb;
      box-shadow: 4px 4px 0px rgba(53, 52, 52, 0.959);
      padding: 0.55em;
      border-radius: 0.4em;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .management {
    // margin: 2em 0;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 10vh;

    color: var(--brown);
    article {
      max-width: 70%;
    }
    .profile-head {
      display: flex;
      align-items: flex-start;
      gap: 1em;
      position: relative;
      h2 {
        font-size: 5rem;
        line-height: 90%;
        position: relative;
        .decor_head {
          position: absolute;
          z-index: -2;
          width: 100%;
          scale: 1.2;
          top: -50%;
        }
      }
      .highlight {
        background: var(--brown);
        color: white;
        padding: 0.25em 1em;
      }

      .contacts {
        display: flex;
        gap: 0.5em;
        .c-btn {
          height: 40px;
          width: 40px;
          background: var(--brown);
          padding: 0.4em;
          svg {
            width: 100%;
            color: white;
            height: 100%;
          }
        }
      }
    }

    .decor_triangle {
      position: absolute;
      z-index: -2;
      left: 30%;
    }
    .bio {
      font-family: var(--fontAlt);
      font-size: 1.1rem;
      margin: 1em 0;
      font-weight: 700;
      text-indent: 1em;

      // text-align: justify;
    }
  }

  .milestones {
    background: url("/backgrounds/dots.png"), #d8bdb6;
    margin: 100px 0;
    .confine {
      margin: 0 auto;
      max-width: 1300px;
      display: grid;
      grid-template-columns: 4fr 400px;
    }

    .milestone-container {
      display: grid;
      grid-template-columns: 1fr 4fr;
      width: 100%;
      padding: 1em;
      // background: var(--brown);
      .mile-panel {
        background: #faf2ef;
        box-shadow: 0px 4px rgba(34, 0, 0, 0.164);
        padding: 1em;
      }
      .milestone-head {
        max-height: 350px;

        h2 {
          color: #7f6e6e;
        }
        hr {
          height: 5px;
          width: 40%;
          background: #c0918e;
          border: none;
        }
      }
      .milestone-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin: 0 1em;
        overflow-y: auto;
        // padding: 1em 0;
        max-height: 400px;
        padding-right: 1em;
        padding-bottom: 1em;
        .milestone {
          height: 150px;
          h2 {
            font-size: 1rem;
            color: var(--lBrown);
          }
          p {
            font-size: 0.9rem;
            font-family: var(--fontAlt);
            font-weight: 600;
            color: var(--brown);
          }
        }
      }
    }
    .graphics {
      display: flex;
      justify-content: flex-end;
      max-width: 100%;
      width: 100%;
      background: var(--brown);
      height: 100%;
      &:hover {
        .ms-art {
          scale: 1;
          transform: translateX(20%);
          transition: all 500ms cubic-bezier(0, 0.55, 0.45, 1);
        }
      }
    }
    .ms-art {
      height: 640px;
      transition: all 200ms linear;
      margin-top: -200px;
      // scale: 1.2;
      user-select: none;
      transform: translateX(10%);
      pointer-events: none;
      transform-origin: bottom;
    }
  }

  .skills {
    .confine {
      margin: 0 auto;
      max-width: 1300px;

      .skills-head {
        display: flex;
        justify-content: flex-end;
        h2 {
          font-size: 3rem;
          color: var(--brown);
          position: relative;
          span {
            transition: all 400ms ease;
          }
          &:hover {
            span {
              rotate: -1deg;
              display: block;
            }
            .stars {
              scale: 1.3;
            }
          }
          .stars {
            top: -20px;
            transition: all 200ms ease;
            position: absolute;
          }
        }
        hr {
          height: 4px;
          border: none;
          max-width: 50%;
          margin: 0 auto;
          background: var(--lBrown);
        }
      }

      .skill-list {
        display: flex;
        justify-content: center;
        gap: 3em;
        flex-wrap: wrap;
        padding: 2em 0;
        .skill-card {
          background: var(--blue);
          padding: 1.5em 1.5em;
          border-radius: 0.5em;
          color: white;
          width: 370px;
          h2 {
            font-size: 1.5rem;
          }

          hr {
            // padding: 0.25em 1em;
            height: 2px;
            background: white;
            border: none;
            margin: 1em 0;
          }
          p {
            font-family: var(--fontAlt);
            margin: 1em 0;
          }
        }

        .note-list {
          display: flex;
          flex-direction: column;
          gap: 1em;
          .note {
            background: #f1faff;
            box-shadow: 0px 4px rgba(0, 0, 0, 0.144);
            padding: 1em;
            // scale: 1.1;
            transition: all 150ms ease;
            border-radius: 0 1em 0 1em;
            &:last-of-type {
              margin-bottom: -50px;
            }
            &:hover {
              scale: 1.05;
            }
            h2 {
              color: var(--blue);
              font-size: 1rem;
              margin: 0;
            }
            p {
              font-size: 1rem;
              font-family: var(--fontAlt);
              margin: 0.25em 0;
              font-weight: 600;
              color: #2a617c;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #page_management {
    .management {
      article {
        max-width: 100%;
        padding: 0 10%;
      }
    }
    .milestones .confine {
      display: flex;
      flex-direction: column;
    }
    .milestones .graphics {
      justify-content: center;
    }
    .milestones .ms-art {
      margin-top: 0;
      max-height: 400px;

      &:hover {
        transform: translateY(20%);
      }
    }
  }
}
@media screen and (max-width: 631px) {
  #page_management {
    padding-top: 2em;
    overflow: hidden;
    .nav-opener {
      right: initial;
      left: 2%;
    }

    .profile-head {
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      h2 {
        width: 100%;
      }
      // flex-direction: column;
    }
  }
  #page_management .management .decor_triangle {
    width: 150px;
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  #page_management {
    .management {
      article {
        padding: 0 5%;

        .profile-head {
          // max-width: ;
          h2 {
            font-size: 4rem;
          }
        }
      }
    }
  }
  #page_management .skills .confine {
    max-width: 90%;
  }
  #page_management .milestones .milestone-container .milestone-list .milestone {
    height: initial;
    p {
      text-align: justify;
    }
  }
  #page_management .milestones .milestone-container {
    grid-template-columns: 1fr;
    gap: 1em;
  }

  #page_management .skills .confine .skill-list {
    gap: 0.25em;
    width: 100%;
  }
  #page_management .skills .confine .skill-list .skill-card {
    padding: 1em;
    width: 32%;
    .card-head {
      h2 {
        font-size: 0.8rem;
      }
      hr {
        margin: 0.25em;
      }

      p {
        font-size: 0.6rem;
        text-align: justify;
      }
    }
    .note-list {
      gap: 0.5em;
      .note {
        padding: 0.7sem;

        h2 {
          font-size: 0.6rem;
        }
        p {
          font-size: 0.5rem;
          text-align: justify;
        }
      }
    }
  }

  #information .confine .information-part .information-controls .btn-info {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  #page_management .skills .confine .skill-list {
    gap: 50px;
    width: 100%;
  }

  #information .confine .information-part {
    display: flex;
    flex-direction: column-reverse;
  }

  #information .decor-side {
    display: none;
  }
  #page_management .skills .confine .skill-list .skill-card {
    padding: 1em;
    width: 100%;
    .card-head {
      h2 {
        font-size: 0.8rem;
      }
      hr {
        margin: 0.25em;
      }

      p {
        font-size: 0.6rem;
        text-align: justify;
      }
    }
    .note-list {
      gap: 0.5em;
      .note {
        padding: 0.7sem;

        h2 {
          font-size: 0.6rem;
        }
        p {
          font-size: 0.5rem;
          text-align: justify;
        }
      }
    }
  }

  #information .confine .information-head .head-text h2 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 420px) {
  #page_management {
    .management .bio {
      font-size: 0.9rem;
      text-align: justify;
    }
  }

  #information .confine .information-part .informations-list .info-card {
    padding: 1.5em;
    h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 0.8rem;
      text-align: justify;
    }
  }
  #information
    .confine
    .information-part
    .information-controls
    .btn-info.active {
    scale: 1;
  }
  #page_management .skills .confine {
    .skills-head {
      justify-content: center;
    }
    .text-part h2 {
      font-size: 2rem;
      text-align: center;
    }
  }
  #page_management .milestones .milestone-container .milestone-list {
    margin: 0;
    gap: 0.5em;
    .milestone {
      padding: 1em;
      h2 {
        font-size: 0.9rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #page_management .skills .confine .skills-head h2 {
    font-size: 1.4rem;
  }
}
