#page_home {
  .hero {
    background: #fff8f7;
    .confine {
      max-width: 1500px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 20vh;

      // padding: ;

      align-items: center;
      justify-content: center;
    }
    figure {
      display: flex;
      justify-content: center;
    }
    figure img {
      scale: 1.5;
      max-height: 350px;
    }

    article {
      color: var(--brown);
      h2 {
        font-size: 1.2rem;
        line-height: 100%;
        span {
          background: var(--brown);
          color: white;
          white-space: nowrap;
          line-height: 190%;
          font-size: 1.5rem;
          padding: 0.15em 0.5em;
        }
      }
      p {
        margin: 2em 0;
      }
    }
  }
}
