#services {
  margin-top: 200px;

  .confine {
    max-width: 1200px;
    margin: 0 auto;
  }
  .service-navigation {
    display: flex;
    gap: 1.2em;
    text-transform: uppercase;

    .btn-service {
      font-size: 1.3rem;
      background: var(--paleBrown);
      color: rgba(255, 255, 255, 0.712);
      padding: 0.1em;
      padding: 0.4em 1em;
      border-radius: 0 1em 0 1em;
      // opacity: 0.2;
      text-transform: uppercase;
      font-family: var(--fontMain);
      font-weight: 800;
      color: rgba(255, 255, 255, 0.452);
      &.active {
        scale: 1.1;
        background: var(--brown);
        margin: 0 1em;
        text-shadow: 1px 2px var(--lBrown);
        color: white;
      }
    }
  }

  .service-head {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: #968f8d;
      scale: 1 0.2;
      z-index: -2;
    }
  }

  .main-service {
    padding: 2em;
    margin: 2em 0;
    background: url("/backgrounds/dots.png"), #d8bdb6;

    .confine {
      max-width: 1100px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 3em;

      .service-detail {
        .title {
          h2 {
            font-size: 2rem;
          }
          p {
            font-family: var(--fontAlt);
            font-weight: 800;
          }
        }
        color: #775c5c;
        .price-detail {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1em;
          margin: 1.5em 0;
          .col {
            background: var(--brown);
            color: white;
            padding: 0.25em 1em;
            border-radius: 0.25em 1em;
          }
          .price {
            p {
              font-size: 4rem;
              font-family: var(--fontAlt);
              font-weight: bold;
            }
          }
          .rate {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding-top: 1em;
            h2 {
              line-height: 70%;
            }
          }
        }

        .action {
          display: flex;
          // flex-direction: fle;
          justify-content: flex-end;
          .btn {
            background: var(--brown);
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2em;
            font-family: var(--fontAlt);
            font-size: 1.5rem;
            padding: 0.2em 0.5em;
            text-transform: uppercase;
            font-weight: 900;
            border-radius: 0.2em;
          }
        }
      }

      .service-includes {
        padding: 1em;
        position: relative;
        z-index: 1;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.178));
        &::before {
          content: "";
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          background: #ffeedf;
          z-index: -1;
          rotate: -3deg;
          scale: 0.9;
          transition: all 300ms ease;
        }

        &:hover {
          &::before {
            rotate: -5deg;
          }
        }
        .include-panel {
          height: 100%;
          width: 100%;
          background: #faf2ef;
          padding: 1em 2em;
          color: var(--brown);
          min-height: 300px;
          position: relative;
          z-index: 1;

          h2 {
          }

          ul {
            margin-left: 1em;
            li {
              font-size: 1.2rem;
              font-weight: 600;
              color: var(--blue);
              &::marker {
                color: #9cd2f9;
                // scale: 1.1;
                // font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
  .other-service {
    min-height: 600px;
    padding: 2em;
    margin: 2em 0;
    background: url("/backgrounds/dots.png"), #d8bdb6;
    .confine {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .service-card {
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding: 1.5em;
      gap: 2em;
      width: 100%;
      background: #fff9f9;
      color: var(--brown);

      transition: all 100ms ease;
      &:hover {
        rotate: 1deg;
      }
      .text {
        h2 {
          font-size: 1.3rem;
          color: var(--lBrown);
        }
        p {
          font-family: var(--fontAlt);
          font-weight: 800;
        }
      }
      .price-detail {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        .rate {
          color: #ffbb02;
          text-transform: uppercase;
          line-height: 80%;
          font-size: 1.2rem;
        }
        .time {
          color: var(--blue);
          font-size: 0.9rem;
          font-weight: 700;
        }

        .price {
          background: var(--brown);
          color: white;
          font-weight: 800;
          font-size: 3rem;
          // padding: 0.2em;
          line-height: 110%;
          margin: 0.2em;
          border-radius: 0.2em;
        }
      }
      // display: flex;
    }
  }
  .end-part {
    margin-top: 5em;
    padding: 2em;
    .text {
      margin: 0 auto;
      max-width: min(500px, 80%);
    }
    text-align: center;
    overflow: hidden;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 80%;
      left: calc(50% - 700px);
      scale: 1.5;
      rotate: 40deg;
      user-select: none;
      pointer-events: none;
      z-index: -2;
      width: 100px;
      height: 100px;
      background: #f5f4f4;
    }
    &::after {
      left: calc(50% + 800px);
      scale: 2;
      top: 70%;
      rotate: -30deg;
    }
    p {
      color: #cecece;
      font-size: 2rem;
    }
    hr {
      height: 2px;
      border: none;
      background: #cecece;
    }

    .btn-request {
      color: white;
      background: var(--brown);
      font-family: var(--fontAlt);
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        scale: 1.2;
      }
      width: 50%;
      font-size: 1.1rem;
      margin: 1em auto;
      font-weight: 800;
      padding: 0.25em 1em;
    }
  }
}
